body {
    background: rgba(17, 17, 17, 0.1)
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

span {
    display: block;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.row {
    margin-bottom: 0.5em;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map, .street {
    width: 100%; 
    iframe {
        height: 30vh;
        border: 0;
        margin: 2vh; 
    }
}

.footer {
    text-align: center;
    font-size: 0.5em;
    .github {
        width: 1em;
        height: 1em;
        margin-left: 0.5em;
    }
}

.hide {
    display: none !important;
}